@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");

*{
    box-sizing: border-box;
}

:root{
    --spacing-lg: 8rem;
    --spacing-md: 4rem;
    --spacing-sm: 2rem;
    --spacing-xsm: 1rem;
    --spacing-xxsm: 0.5rem;

    --font-size-xl: 2.4rem;
    --font-size-lg: 1.4rem;
    --font-size-md: 1.2rem;
    --font-size-sm: 1.1rem;

    --image-width-lg: 5rem;
    --image-width-sm: 3rem;

    --width-lg: 60%;
}


html body{
    background-color: hsl(217, 100%, 97%);
    font-family: 'Ubuntu', sans-serif;
    width: var(--width-lg);
    padding: var(--spacing-lg) 0;
    margin: auto;
}
.conatiner{
    background-color: hsl(0, 0%, 100%);
    border-radius: 10px;
    padding: var(--spacing-xsm);
}
.main{
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    flex-grow: 1;
    padding: 0 var(--spacing-lg) 0 var(--spacing-sm);
}
.content{
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    flex-grow: 1;
    animation: pageview 0.5s forwards ease-in;
}
@keyframes pageview {
    0%{ 
        opacity: 0;
    }
    50%{
        
        opacity: 0.3;
    }
    75%{
        
        opacity: 0.6;
    }
    100%{
        
        opacity: 1;
    }
}

.content h1{
    font-size: var(--font-size-xl);
    font-weight: 700;
    color: hsl(213, 96%, 18%);
}
.content h2, .card-title{
    font-size: var(--font-size-md);
    font-weight: 700;
    color: hsl(213, 96%, 30%);
}
.content h3{
    font-size: var(--font-size-sm);
    font-weight: 500;
    color: hsl(213, 96%, 30%);
}
.content p{
    font-size: var(--font-size-sm);
    color: hsl(231, 11%, 63%);
}

/* Navbar */
.nav{
    --lg: calc( 2 * var(--spacing-lg));
    --sm: calc( 2 * var(--spacing-xsm)); 
    height: calc( 100vh - calc( var(--lg) + var(--sm)));
    background-image: url("/images/bg-sidebar-desktop.svg"); 
    background-size: auto calc( 100vh - calc( var(--lg) + var(--sm)));
    background-repeat: no-repeat;
    border-radius: 10px;
}
.nav ul{
    flex-grow: 1;
    padding-top: var(--spacing-md);
    padding-left: var(--spacing-sm);
}
.nav li{
    margin-bottom: var(--spacing-sm);
    align-items: center;
}
.nav li a{
    margin-right: var(--spacing-xsm);
    padding: var(--spacing-xxsm) var(--spacing-xsm);
    font-size: var(--font-size-md);
    font-weight: 700;
    color: hsl(0, 0%, 100%);
    border-radius: 50%;
    border: 0.1rem solid hsl(0, 0%, 100%);
    text-decoration: none;
}
.nav li a.active{
    background-color: hsl(206, 94%, 87%);
    color: black;
    border: 0.1rem solid hsl(206, 94%, 87%);
}
.nav li h1{
    margin-bottom: 0;
    font-size: var(--font-size-sm);
    font-weight: 400;
    color: hsl(228, 100%, 84%);
}
.nav li h2{
    font-size: var(--font-size-md);
    font-weight: 700;
    color: hsl(0, 0%, 100%);
    margin-bottom: 0;
}

/* Home Page */
label, input[type=text], input[type=email], input[type=tel], 
input[type=text]:focus, input[type=email]:focus, input[type=tel]:focus{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    font-size: var(--font-size-md);
    color: hsl(213, 96%, 30%);
}
.invalid-feedback, .plan-noselect{ /* Warning Message */
    text-align: end;
    font-family: 'Ubuntu', sans-serif;
    font-size: var(--font-size-md);
    font-weight: 500;
    color: hsl(354, 84%, 57%);
    animation: pageview 0.5s forwards ease-in;
}
.plan-slected{
    display: none;
}

/* Buttons */
#next-button, #back-button, #cofirm-button{
    font-family: 'Ubuntu', sans-serif;
    font-size: var(--font-size-md);
    font-weight: 500;
}
#next-button{
    background-color: hsl(213, 96%, 18%);
    color: white;
}
#next-button:hover{
    background-color: hsl(213, 96%, 30%);
    color: white;
}
#back-button{
    color: hsl(231, 11%, 63%);
}
#back-button:hover{
    color: hsl(213, 96%, 18%);
}
#cofirm-button{
    background-color: hsl(243, 100%, 62%);
    color: white;
}
#cofirm-button:hover{
    color: white;
    background-color: hsl(243, 100%, 75%);;
}

/* Plan Page*/
.card{
    padding: var(--spacing-xsm);
    cursor: pointer;
}
.card.edit{
    background-color: hsl(231, 100%, 99%);
    border: 0.1rem solid hsl(213, 96%, 30%);
}
#plan .plan-icon{
    width: var(--image-width-sm);
    height: var(--image-width-sm);
}
#plan .form-switch .form-check-input {
    cursor: pointer;
    background-color: #0d6efd;
    border-color: #0d6efd;
    --bs-form-switch-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
    background-image: var(--bs-form-switch-bg);
}
#plan h3{
    animation: pageview 0.5s forwards ease-in;
}

/* Add On's page  */
#add-ons .form-check{
    display: flex;
    justify-content:space-between;
    align-items: center;
    border-radius: 10px;
    padding-left: var(--spacing-md);
    padding-right: var(--spacing-xsm);
    border: 0.05rem solid hsl(229, 24%, 87%);
    cursor: pointer;
}
#add-ons .form-check.checked{
    background-color: hsl(231, 100%, 99%);
    border: 0.1rem solid hsl(213, 96%, 30%);
}

/* Summary page */
.price-table{
    padding: var(--spacing-sm) var(--spacing-sm) 0;
    margin-bottom: var(--spacing-sm);
    background-color: hsl(231, 100%, 99%);
}
.price-table .row > div:last-child{
    text-align: right;
}
.price-table-header{
    margin-bottom: var(--spacing-xsm);
    padding-bottom: var(--spacing-xsm);
    border-bottom: 0.05rem solid hsl(229, 24%, 87%);
}
.total-price{
    padding: 0 var(--spacing-sm);
}
.total-price > div:last-child{
    padding-right: var(--spacing-sm);
    text-align: right;
}


@media (max-width: 992px) {
    html body{
        padding: 0;
        width: 100%;
        background-color: white;
    }
    .main{
        padding: 0 16px;
    }
    .content h1{
        font-size: var(--font-size-lg);
    }
    .conatiner{
        background-color: hsl(217, 100%, 97%);
        padding: 0 16px;
        border-radius: 0;
    }
    .layout > div, .nav ul{
        padding: 0;
    }
    .nav ul{
        margin-top: var(--spacing-sm);
    }
    .nav{
        height: auto;
        background-image: url("/images/bg-sidebar-mobile.svg");
        background-size: 100%;
        padding: var(--spacing-md) 0 var(--spacing-lg);
        border-radius: 0;
    }
    .nav li a{
        margin: var(--spacing-xsm);
    }

    .pop-Up{
        background-color: white;
        position: relative;
        padding: var(--spacing-md) var(--spacing-sm);
        margin-bottom: calc( var(--spacing-lg) * 1.5);
        top: -10%;
        left: 50%;
        transform: translate(-50%);
        border-radius: 10px;
    }
}

@media (max-width: 575.98px) {
    :root{
    --spacing-lg: 5rem;
    --spacing-md: 1.9rem;
    --spacing-sm: 1.15rem;
    --spacing-xsm: 0.8rem;
    --spacing-xxsm: 0.3rem;
    
    --font-size-lg: 1.4rem;
    --font-size-md: 0.9rem;
    --font-size-sm: 0.9rem;
    }
}

@media (max-width: 767.98px) and (min-width: 576px){
    :root{
    --spacing-lg: 6rem;
    --spacing-md: 3rem;
    --spacing-sm: 1.5rem;
    --spacing-xsm: 1rem;
    --spacing-xxsm: 0.6rem;
    
    --font-size-lg: 1.8rem;
    --font-size-md: 1.3rem;
    --font-size-sm: 1rem;
    }
}

@media (max-width: 991.98px) and (min-width: 768px){
    :root{
        
        --spacing-lg: 8rem;
        --spacing-md: 4rem;
        --spacing-sm: 1.75rem;
        --spacing-xsm: 1.25rem;
        --spacing-xxsm: 0.7rem;
    
        --font-size-lg: 1.9rem;
        --font-size-md: 1.4rem;
        --font-size-sm: 1.1rem;
    }
}

@media (max-width: 1199.98px) and (min-width: 992px){
    :root{
    --spacing-lg: 5rem;
    --spacing-md: 2.5rem;
    --spacing-sm: 1.25rem;
    --spacing-xsm: 0.6rem;
    --spacing-xxsm: 0.3rem;

    --font-size-xl: 2rem;
    --font-size-lg: 1rem;
    --font-size-md: 0.9rem;
    --font-size-sm: 0.8rem;

    --width-lg: 70%;
    }
}

@media (max-width: 1399.98px) and (min-width: 1200px) {
    :root{
    --spacing-lg: 6rem;
    --spacing-md: 3rem;
    --spacing-sm: 1.5rem;
    --spacing-xsm: 0.6rem;
    --spacing-xxsm: 0.3rem;

    --font-size-xl: 2.1rem;
    --font-size-lg: 1.1rem;
    --font-size-md: 1rem;
    --font-size-sm: 0.9rem;

    --width-lg: 65%;
    }
}

@media (max-width: 1599.98px) and (min-width: 1400px) {
    :root{
    --spacing-lg: 7rem;
    --spacing-md: 3.5rem;
    --spacing-sm: 1.75rem;
    --spacing-xsm: 0.8rem;
    --spacing-xxsm: 0.4rem;

    --font-size-xl: 2.2rem;
    --font-size-lg: 1.2rem;
    --font-size-md: 1.1rem;
    --font-size-sm: 1rem;

    --width-lg: 65%;
    }
}