
.validity{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--spacing-xsm) 0;
    border-radius: 10px;
    background-color: hsl(231, 100%, 99%);;
}
.validity h2{
    margin: 0 var(--spacing-xsm);
    cursor: pointer;
}

.editplan{
    color: hsl(231, 11%, 63%);
}

.addons h2, .addons p{
    margin: var(--spacing-xsm) 0;
}

.next{
    display: flex;
    justify-content:end;
    margin-top: var(--spacing-md);
}
.back{
    display: flex;
    justify-content: space-between;
    margin-top: var(--spacing-md);
}

.summarylink{
    font-family: 'Ubuntu', sans-serif;
    font-size: var(--font-size-sm);
    color: hsl(231, 11%, 63%);
}

@media (max-width: 992px) {
    .next, .back{
        background-color: white;
        position: absolute;
        margin-top:calc( var(--spacing-lg) * 3.5);
        left: 50%;
        transform: translate(-50%);
        width: 100vw;
        padding: var(--spacing-md) var(--spacing-sm);
    }
}