
.validity{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--spacing-xsm) 0;
    border-radius: 10px;
    background-color: hsl(231, 100%, 99%);;
}
.validity h2{
    margin: 0 var(--spacing-xsm);
    cursor: pointer;
}

.editplan{
    color: hsl(231, 11%, 63%);
}

.addons{
    padding: 0 var(--spacing-xsm);
}

.addons h2, .addons p{
    margin: var(--spacing-xsm) 0;
}

.next{
    display: flex;
    justify-content: flex-end;
    margin-top: var(--spacing-md);
}
.back{
    display: flex;
    justify-content: space-between;
    margin-top: var(--spacing-md);
}

.summarylink{
    font-family: 'Ubuntu', sans-serif;
    font-size: var(--font-size-sm);
    color: hsl(231, 11%, 63%);
}

.finish{
    animation: end 0.5s forwards ease-in;
}
@keyframes end {
    0%{
        opacity: 0;
        transform:scale(0);
    }
    25%{
        opacity: 0.2;
        transform:scale(0.5);
    }
    50%{
        opacity: 0.6;
        transform:scale(1);
    }
    75%{
        opacity: 0.8;
        transform:scale(1.2);
    }
    100%{
        opacity: 1;
        transform:scale(1);
    }
}

@media (max-width: 992px) {
    .next, .back{
        background-color: hsl(217, 100%, 97%);
        position: absolute;
        margin-top:calc( var(--spacing-lg) * 2);
        left: 50%;
        transform: translate(-50%);
        width: 100vw;
        padding: var(--spacing-sm);
    }
}